@media (min-width: 1024px) {
    .second-btn {
        display: none;
    }

    .btn-get-started {
        display: none;
    }
}

@media(max-width:1024px) {
    .main-btn {
        padding: 20px 25px;
    }

    .main-btn {
        display: none;
    }

    .myimage img {
        margin-left: 50px;
    }

    h5 {
        font-size: 15px;
    }

    h2 {
        font-size: 40px;
        -webkit-text-stroke: 0.5px white;
    }

    h1 {
        font-size: 60px;
    }

    .topic {
        padding: 0px;
    }

    h3 {
        font-size: 28px;
    }



}

@media(max-width:991px) {

    .header_wrapper .nav-item {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .banner_wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
        display: none;
    }

    .myimage {
        padding-right: 70px;
    }

    .scroll-btn {
        position: relative;
        z-index: 1;
        bottom: 180px;
        text-align: center;
        right: 20px;
    }


}



@media(max-width:767px) {
    h1 {
        font-size: 40px;
        -webkit-text-stroke: 0.5px white;
    }

    h3 {
        font-size: 18px;

    }

    h2 {
        font-size: 36px;
        -webkit-text-stroke: 0.5px white;
    }

    h5 {
        font-size: 16px;
    }

    .intro-social {
        position: absolute;
        bottom: 150px;
    }

    .intro-social li a {
        font-size: 28px;
        margin: 0px;
        padding: 0px;
    }


    .header_wrapper .nav-item .nav-link.active,
    .header_wrapper .nav-item .nav-link:hover {
        color: var(--ruby-first-color);
        border-bottom: none;
    }


    .swiper-slide {
        position: relative;
    }


    .btn-get-started {
        position: absolute;
    }

    .intro-text1{
        padding-bottom: 150px;
    }

    .intro-text2{
        padding-bottom: 150px;
    }

    .intro-social{
        padding-bottom: 70px;
    }

}

@media(max-width:375px) {
    .intro-social {
        position: absolute;
        bottom: 150px;
    }

    .intro-social li a {
        font-size: 25px;
        margin: 0px;
        padding: 0px;
    }
}


@media (max-width: 991px) and (min-width: 768px) {
    .second-btn {
        margin-left: 250px;
    }
}