/* TABLE OF CONTENTS 
1. custom-fonts
2. default-settings
3. nav-bar-section
4. home-section
5. about-section
*/


/* <!-----------------------------
             1. custom fonts
    -----------------------------> */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");


/* <!-----------------------------
           2. Default settings
    -----------------------------> */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--semi-black-color);
}

h1 {
    font-size: 85px;
    background: var(--gradient-second-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

h2 {
    font-size: 60px;
    background: var(--gradient-second-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

h1S {
    color: var(--white-color);
}

h3 {
    color: var(--white-color);
    /* -webkit-text-stroke: 1px var(--purple-second-color); */
    font-size: 33px;
    font-weight: 600;
}

h5 {
    color: white;
    font-size: 23px;
}

h4 {
    color: var(--ruby-first-color);
}

h6 {
    color: var(--semi-white-color);
}

h61 {
    background: var(--gradient-second-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;
}

p {
    color: black;
    font-weight: 500;
}

p1 {
    color: white;
}

p2 {
    color: black;
}

.main-btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 5px;
    color: var(--black-color);
    background-color: var(--white-color);
    padding: 20px 25px;
    display: inline-block;
    text-decoration: none !important;
    border-radius: 60px;
    border: 2px solid var(--ruby-first-color);
    cursor: pointer;
    transition: 0.5s all;
}

.main-btn:hover {
    background-color: var(--ruby-first-color);
    border-color: var(--white-color);
    color: var(--white-color);
}

.main-btn:active {
    transform: scale(0.90);
}


/* second button */

.second-btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 3px;
    color: var(--black-color);
    background-color: var(--white-color);
    padding: 18px 15px;
    display: inline-block;
    text-decoration: none !important;
    border-radius: 60px;
    border: 2px solid var(--ruby-first-color);
    cursor: pointer;
    transition: 0.5s all;
}

.second-btn:hover {
    background-color: var(--ruby-first-color);
    border-color: var(--white-color);
    color: var(--white-color);
}

.second-btn:active {
    transform: scale(0.90);
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--ruby-first-color);
}


:root {

    /* Colors */
    --white-color: #ffff;
    --black-color: #000000;
    --semi-black-color: #000000;
    --semi-white-color: #fff;
    --darkgrey-color: #222222;
    --lightgrey-color: #adadad;
    --ruby-first-color: rgb(255, 0, 200);
    --purple-second-color: rgb(161, 4, 252);
    --gradient-first-color: radial-gradient(circle, rgb(37, 73, 255) 0%, rgb(255, 0, 200) 100%);
    --gradient-second-color: radial-gradient(rgb(252, 4, 107) 0%, rgb(161, 4, 252) 100%);
    --golden-color: rgb(240, 204, 0);

    /* fonts */
    --first-font: 'Poppins', sans-serif;
    --second-font: 'Rubik', sans-serif;
    --third-font: 'Lora', sans-serif;
    --stabdard-font: 'sans-serif';
}


/* <!-----------------------------
             3. Navbar section 
    -----------------------------> */

/* 2 Navbar */
.header_wrapper .navbar {
    padding: .9375rem 0;
    background-color: var(--darkgrey-color);
    -webkit-box-shadow: 0 .5rem .375rem -0.375rem rgb(0 0 0 / 40%);
    box-shadow: 0 .5rem .375rem -0.375rem rgb(0 0 0 / 40%);
    -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
}

.header_wrapper .navbar-toggler {
    border: 0;
    color: var(--white-color);
    line-height: 2;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 20px;
}

.header_wrapper .nav-item .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    display: inline-block;
    letter-spacing: 1px;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--ruby-first-color);
    border-bottom: 2px solid var(--ruby-first-color);
}

.navbar.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--darkgrey-color);
    ;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.navbar-brand {
    color: var(--ruby-first-color);
    font-weight: 400;
    transition: 0.6s all;
    letter-spacing: 2px;
    font-family: 'Rubik';
    font-size: 20px;
}


.navbar-brand:hover {
    color: var(--purple-second-color);
}



/* <!-----------------------------
             4. Home section 
    -----------------------------> */


.banner_wrapper {
    height: 40.625rem;
}

.banner_wrapper .swiper {
    width: 100%;
    height: 100%;
}

.banner_wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner_wrapper .swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.1;
    z-index: 0;
}

.banner_wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
    width: .9375rem;
    height: .9375rem;
    background-color: rgb(119, 0, 255);
    border: 2px solid var(--bg-white);
}

.banner_wrapper .swiper .slide-caption {
    height: 100%;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_wrapper .swiper .slide-caption p {
    max-width: 37.5rem;
    margin: 0 auto;
    color: var(--text-white);
}

/* intro */
.intro-social {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 4.5rem;
    font-size: 3.3rem;
    margin: 0;
    padding: 0;
}

.intro-social li {
    display: inline-block;
    margin: 0 15px;
    padding: 5px;
    font-size: 40px;
}

.intro-social li a,
.intro-social li a:visited {
    color: #FFFFFF;
    transition: 0.5s all;
}

.intro-social li a:hover,
.intro-social li a:focus {
    color: var(--ruby-first-color);
}

.banner_wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
    width: .9375rem;
    height: .9375rem;
    background-color: var(--ruby-first-color);
    border: 2px solid var(--white-color);
}


/* TEMPORY */

/* status bars */
.mycontainer {
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 7px;
    margin-top: 40px;
    border: 3px solid grey;


}

.container .skill-bar {
    width: 100%;
    margin: 25px 0px;
}

.skill-box .title {
    display: bock;
    font-size: 18px;
    font-weight: 600;
    color: black;
    letter-spacing: 0.5px;
}

.skill-box .skill-bar {
    height: 9px;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.1); */
    background: rgb(207, 207, 207);
    margin-top: 15px;
    border-radius: 6px;
}

.skill-box .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 95%;
    /* background: black; */
    background: var(--gradient-first-color);
    border-radius: 6px;
    animation: progress 1s ease-in-out forwards;
    opacity: 0;
}

.skill-per.css {
    width: 80%;
}

.skill-per.javascript {
    width: 70%;
}

.skill-per.react {
    width: 55%;
}

.skill-per.python {
    width: 35%;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.skill-per .tooltips {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 11px;
    font-weight: 500;
    padding: 2px 6px;
    border-radius: 3px;
    color: #fff;
    background-color: black;
    z-index: 1;
}

.tooltips::before {
    content: '';
    position: absolute;
    left: 35%;
    bottom: -9px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: black;
    transform: translateY(-50%) rotate(45deg);

}

/* owl carousel */

.service-content i {
    color: black;
    font-size: 35px;
    margin-bottom: 10px;
}

.service-content p {
    color: black;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    /* border: 1px solid white; */
}

.service-content h4 {
    background: var(--text-gradientcolor2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-content {
    margin: 10px 50px 40px 50px;
    background-color: rgb(252, 252, 252);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
}


.info-list {
    background-color: var(--white-color);
    padding: 35px 20px;
    border: 3px solid grey;
    border-radius: 8px;
    margin-top: 40px;
}

.info-list ul {
    list-style: none;
}

.info-list ul li {
    text-align: center;
    padding-right: 30px;
}











/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--gradient-second-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--ruby-first-color);
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: rgb(148, 148, 148);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid var(--ruby-first-color);
}

/* .projects_wrapper .card {
    height: 100%;
    min-height: 400px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 16px 4px var(--bg-lightgrey);
    border: 3px solid grey;
}

.projects_wrapper .card::before{
    content: '';
    background: black;
    position: absolute;
}

.projects_wrapper .card span {
    transition: background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}

.projects_wrapper .card:hover span {
    background-position: bottom center;
} */

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
    border: 3px solid grey;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #5a656e;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: var(--ruby-first-color);
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 3px solid grey;
    border-radius: 10px;
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

.portfolio .portfolio-wrap .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 2px 6px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    background: var(--gradient-second-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    top: calc(50% - 48px);
}

.portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    bottom: calc(50% - 50px);
}

/*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #d43076;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #d43076;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(44, 73, 100, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    border: 3px solid grey;
}

.services .icon-box::before {
    content: "";
    position: absolute;
    background: white;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
}

.services .icon-box:hover::before {
    background: var(--gradient-second-color);
    top: 0;
    border-radius: 0px;
}

.services .icon {
    margin-bottom: 15px;
    text-align: center;
}

.services .icon i {
    font-size: 48px;
    line-height: 1;
    background: var(--gradient-second-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    color: #111;
}

.services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.services .icon-box:hover .title a,
.services .icon-box:hover .description {
    color: #fff;
}

.services .icon-box:hover .icon i {
    background: var(--white-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}









/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    padding-bottom: 80px;
}

.contact .info-box {
    color: #444444;
    background: var(--white-color);
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    border: 3px solid grey;
    border-radius: 10px;
}

.contact .info-box:hover {
    background: var(--gradient-second-color);
    color: var(--white-color) !important;
}

.contact .info-box i {
    font-size: 32px;
    background: var(--gradient-second-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 50%;
    padding: 8px;
}

.contact .info-box:hover i {
    background: var(--white-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact .info-box h3 {
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box:hover h3 {
    color: var(--white-color);
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .info-box:hover p {
    color: var(--white-color);
}

.contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: var(--white-color);
    border: 3px solid grey;
    border-radius: 10px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input::focus,
.contact .php-email-form textarea::focus {
    background-color: #67b0d1;
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
    background: black;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

.contact .php-email-form button[type=submit]:hover {
    background: var(--gradient-first-color);
}

.contact .php-email-form button[type=submit]:active {
    transform: scale(0.90);
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





.footer {
    background: grey;
    color: white;
}





/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    background: var(--ruby-first-color);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: var(--gradient-second-color);
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}






.third-btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 5px;
    color: var(--black-color);
    background-color: var(--white-color);
    padding: 20px 25px;
    display: inline-block;
    text-decoration: none !important;
    border-radius: 60px;
    border: 2px solid var(--ruby-first-color);
    cursor: pointer;
    transition: 0.5s all;
}

.third-btn:hover {
    background-color: var(--ruby-first-color);
    border-color: var(--white-color);
    color: var(--white-color);
}

.third-btn:active {
    transform: scale(0.90);
}
